<div class="container w-100">
    <div class="row   mt-5">
        <div class="col-md-12">
            <h1 class="texto text-center font-weight-bold">Este é o meu blog</h1>
        </div>

        

    </div>

    <div class="row mt-4 w-100 mb-4">

        <div class="col-md-12">
            
            <p class="justify texto">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio eligendi ab beatae, voluptates odio distinctio aperiam inventore nihil dolore commodi. Eligendi itaque aliquam eum nobis quos autem, dicta officia? Fugiat.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique perspiciatis autem repudiandae obcaecati eius qui aspernatur placeat numquam facere mollitia itaque aliquid blanditiis, atque magni est quaerat temporibus. Vero, corporis.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae deleniti odio incidunt suscipit facere minima, a sapiente, cupiditate tenetur est recusandae adipisci ab laborum architecto! Cumque reiciendis aliquam animi dolores?
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatibus vel fugiat eligendi, iusto odio at eos officia voluptatem dolore officiis cumque quibusdam placeat unde facere. Aspernatur corporis ut porro odio.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo commodi adipisci vitae officia, atque similique repellendus laborum neque sit dolore, repellat quae aspernatur! Vitae ducimus nulla culpa, corporis rerum voluptate!

            </p>
        </div>

    
        
    </div>
</div>
    <div class="parallax"></div>

    
    

