<!--inicio do container-->
<div class="container">
    <div class="row">
        <div class="col md-4">

            <app-perfil-lateral></app-perfil-lateral>





        </div>
        <div class="col md-8">
            <h3 class="text-center f1">Qual é a sensação de  ter que recomeçar um código do zero?</h3>
            <!--inicio do formulpario-->
            <div class="form-group">
                <label class="f1" class="form-control" id="titulo" >Título</label>
                <input type="text" class="form-control" id="titulo"  placeholder="Digite o seu titulo da sua história triste">
                



            </div>
            <!--formulario grupo de div 2-->
            <div class="form-group">
                <label class="f1" for="texto" >Texto</label>
                <textarea class="form-control" id="texto" rows="3" placeholder="Digite a sua frustração aqui"></textarea>

            </div>
            <!--formulário grupo de div 3-->
            <div class="row d-flex-align-itens-end">
                <div class="col md-6">
                    <div class="form-group m-0">
                        <label class="f1" for="tema" >Esolha o seu infortunio ou <a routerLink="/ cadastrar-frustração">cadastre um novo</a></label>
                        <select name="tema" id="tema" class="f1">
                            <option>
                                1,2...1,2,3,4!
                            </option>
                        </select>
                    </div>

                </div>
                <div class="col-md-6 form-group">
                    <button type="button" class="btn btn-outline-dark w-85">Postar</button>
                </div>



            </div>









        </div>


    </div>
    






</div>