.f1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: inherit;
    font-size: 14pt;
}

.bg{
    background-image:url(https://i.imgur.com/ytqcMfX.jpg);
}

.f2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: inherit;
   
}