<div class=" bg">
    <div class="row mt-5 mb-5">
        <div class="col-md-12">
            <h1 class="text-center f2">Cadastro</h1>
        </div>


    </div>
    <div class="row mt-5 mb-5">
        <div class="col-md-12">
            <h1 class="text-center f1"></h1>
        </div>


    </div>

    <div class="row mb-5 d-flex justfy-content-center">

        <div class="col md-4">



    

            <div class="container col-md-4">
                <div class="form-group f1 ">
                    <label for="exampleInputEmail1">Nome de usuário</label>
                    <input type="text" class="form-control" id="nome" aria-describedby="" placeholder="Nome de usuário"[(ngModel)]='user.nome' >
                    <small id="" class="form-text text-muted">Escolha um nome de usuario.</small>
                </div>
                <div class="form-group f1  ">
                    <label for="exampleInputEmail1">Endereço de email</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Seu email" [(ngModel)]='user.usuario'>
                    <small id="emailHelp" class="form-text text-muted">Nunca vamos compartilhar seu email, com ninguém.</small>
                </div>
                <div class="form-group f1 text-light">
                    <label for="exampleInputPassword1">Senha</label>
                    <input type="password" class="form-control" id="senha" placeholder="Senha" (input)='conferirSenha($event)' value='{{senha}}'  >
                </div>
                
                <div class="form-group f1  text-light">
                    <label for="senhaConf">Confirmar Senha</label>
                    <input  type="password" class="form-control" id="senhaConf" placeholder="digite a senha novamente"[(ngModel)]='user.senha'  >
        




                </div>
            
                    <button type="submit" class="btn btn-outline-dark"(click)='cadastrar()'>Cadastrar</button>
            </div>
        </div>
    </div>
</div>

