<div class="card  border-0 " style="width: 18rem;">
    <div class="d-flex justify-content-center">
        <img class="card-img-top rounded-circle w-75" src="https://i.imgur.com/7nb8TYq.jpg" alt="Imagem de capa do card">

    </div>
    
    <div class="card-body">
      <h5 class="card-title text-center f2">{{nome}}</h5>
      <p class="card-text text-center f2">Desenvolvedor java Junior.</p>
      <a href="https://github.com/YuriSantiago999/"  class="btn btn-outline-dark mb-3 d-flex justify-content-center" target="_blank">GitHub</a>
      
      
    </div>
</div>
